$colorContent: rgba(218, 176, 79, 0.5);
$colorMain: rgba(240, 221, 178, 0.5);
$colorSidebar: rgb(79, 150, 79, 0.5);
$colorHeader: rgba(213, 215, 218, 0.5);
$colorFooter: rgba(167, 172, 183, 0.5);
$font: 'Chronicle Display', sans-serif;